<div class="container">
  <% if current_user.subscribed? %>
    <h1><%= t('billing') %></h1>

    <% if current_user.expires_at? %>
      <p><%= t('access_subscription_user_1') %> <%= distance_of_time_in_words current_user.expires_at - Time.zone.now %>.</p>
      <h3> <%= t('access_subscription_user_2') %> </h3>
      <%= link_to t('btn_to_memberships'), memberships_path, class: "btn btn-success" %>
    <% else %>
      <div>
        <p>
          <%= t('yes_subscribed') %>
          <%= link_to t('btn_cancel_subscription'), membership_path, method: :delete, data: {confirm: t('confirmation_cancel_subscription')}, class:"text-danger" %>
        </p>
          <div>
            <strong><%= t('card_on_file') %> </strong> <%= current_user.card_brand %> (**** **** **** <%= current_user.card_last4 %>)
          </div>
          <div>
            <strong><%= t('expiration_card') %></strong> <%= current_user.card_exp_month %> / <%= current_user.card_exp_year %>
          </div>
          <p>
            <%= link_to t('update_card'), membership_path %>
          </p>
      </div>
      <div>
        <%= link_to t('back'), :back %> 
      </div>
    <% end %>

  <% else %>

      <h3> <%= t('not_subscribed') %> </h3><br/>
      <%= link_to t('btn_to_memberships'), memberships_path, class: "btn btn-success" %>

  <% end %>
</div><br/><br/>

<div class="container">
  <% if current_user.charges.any? %>
    <h3><%= t("charges") %></h3>

    <table class="table">
      <thead>
        <tr>
          <th><%= t("date_id") %></th>
          <th><%= t("amount") %></th>
          <th><%= t("download") %></th>
        </tr>
      </thead>
      <tbody>
        <% current_user.charges.each do |charge| %>
          <tr>
            <td><%= charge.created_at.to_date %></td>
            <td>$<%= number_to_currency(charge.amount / 100, :unit => "MXN", :separator => ".", :delimiter => ",") %></td>
            <td><%= link_to t("download"), charge_path(charge, format: :pdf) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>