<div class="container">
  <% if current_user.subscribed? %>
    <h1>Billing</h1>

    <% if current_user.expires_at? %>
      <p>Your access expires in <%= distance_of_time_in_words current_user.expires_at - Time.zone.now %>.</p>
      <h3> Subscribe again to a new membership </h3>
      <%= link_to "Click here to see our memberships", memberships_path, class: "btn btn-success" %>
    <% else %>
      <div>
        <p>You are currently subscribed. <%= link_to "Cancel your subscription", membership_path, method: :delete, data: {confirm: "Are you sure you want to cancel your subscription?"} %></p>
        <div><strong>Card on file:</strong> <%= current_user.card_brand %> (**** **** **** <%= current_user.card_last4 %>)</div>
        <div><strong>Expiration:</strong> <%= current_user.card_exp_month %> / <%= current_user.card_exp_year %></div>
        <p><%= link_to "Update your card", membership_path %></p>
      </div>
      <div>
        <%= link_to t('back'), :back %> 
      </div>
    <% end %>

  <% else %>

      <h3> You are currently not subscribed.</h3>
      <%= link_to "Click here to see our memberships", memberships_path, class: "btn btn-success" %>

  <% end %>
</div>