<div class="container">
<h1><%= t('subscribe_title') %>     
    <% if params[:plan] == '5' %>
        <%= t('subscribe_t_basic') %>
    <% elsif params[:plan] == '6' %>
        <%= t('subscribe_t_medium') %>
    <% elsif params[:plan] == '7' %>
        <%= t('subscribe_t_intensive') %>
    <% end %>
    
</h1>
<% if current_user.card_last4? %>
  <%= form_tag membership_path, id: "register_form" do %>
    <p><%= t('pay_with_existing_card') %></p>
    <div>
    	<strong><%= t('card_on_file') %></strong> <%= current_user.card_brand %> (**** **** **** <%= current_user.card_last4 %>)
    </div>
    <div>
    	<strong><%= t('expiration_card') %></strong> <%= current_user.card_exp_month %> / <%= current_user.card_exp_year %>
    </div>
    <p>
    	<%= link_to t('update_card'), membership_path %>
    </p>

    <%= hidden_field_tag :plan, params[:plan] %>

    <% if params[:plan] == '5' %>
    	<h5> <b> Total:</b> $1,120 MXN </h5>
	<% elsif params[:plan] == '6' %>
		<h5> <b> Total:</b> $2,080 MXN </h5>
	<% elsif params[:plan] == '7' %>
		<h5> <b> Total:</b> $3,060 MXN </h5>
    <% end %>

    <%= submit_tag  t('btn_pay'), class:"btn btn-primary" %>
</div>
  <% end %>
<% end%>

<%= form_tag membership_path, id: "register_form", style: (current_user.card_last4? ? "display:none" : nil) do %>
    


      <%= hidden_field_tag :plan, params[:plan] %>

<% end %>

