
  <%= form_with(model: expert_profile, local: true) do |form| %>
    <% if expert_profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(expert_profile.errors.count, "error") %> prohibited this expert_profile from being saved:</h2>

        <ul>
        <% expert_profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

        <div class="container">
          <div class="row justify-content-md-center">
            <p>
              <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                CLABE interbancaria
              </a>
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
                Paypal
              </button>
            </p>
          </div>
        </div>

    <!-- Admin form -->
      <% if logged_in?(:admin) %>
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-4 field">
              <%= form.label :user_id, t('teacher') %>
              <%= form.collection_select(:user_id, User.where(roles:"teacher").order(:name),:id,:name, {include_blank: true}, {class: "form-control"}) %>
            </div> 
          </div>
          <div class="row justify-content-md-center">
            <div class="col-4 field">
              <%= form.label :status_id, "Estatus" %>
              <%= form.select(:status_id, options_for_select([["Activo", "Activo"],["Inactivo","Inactivo"],["Pendiente", "Pendiente"]]), {}, {class: "form-control"}) %>
            </div> 
          </div>
        </div>

      <div class="collapse" id="collapseExample">
        <div class="container">
          <div class="row justify-content-md-center">
              <small class="col-4"><b>Nota:</b> Solo aplica para cuentas mexicanas, si tienes una cuenta en el extranjero envíanos un mail a hello@5roots.co</small>
             <div class="col-8 field">
              <%= form.label :bank_account_user_name, "Nombre del propietario de la cuenta" %>
              <%= form.text_field :bank_account_user_name, class: "form-control col-6"  %>
            </div>
          </div>
          <div class="row justify-content-md-center">
             <div class="col-4 field">
              <%= form.label :bank_account_name, "Nombre del banco" %>
              <%= form.text_field :bank_account_name, class: "form-control"  %>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-4 field">
              <%= form.label :bank_account_number, "CLABE interbancaria" %>
              <%= form.text_field :bank_account_number, class: "form-control"  %>
            </div>
          </div>
        </div>
      </div>

      <br>

      <!-- Paypal -->

      <div class="collapse" id="collapseExample1">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-4 field">
              <%= form.label :paypal_account, "Cuenta paypal" %>
              <%= form.text_field :paypal_account, class: "form-control"  %>
            </div>
          </div>
        </div>
      </div>

      <br>

      <!-- Teachers form -->
      <% else %>
        <%= form.hidden_field :status_id, value: "Pendiente" %>
        <%= form.hidden_field :user_id, value: current_user.id %>
      <div class="container">
        <div class="collapse" id="collapseExample">
          <div class="row justify-content-md-center">
              <small class="col-4"><b>Nota:</b> Solo aplica para cuentas mexicanas, si tienes una cuenta en el extranjero envíanos un mail a hello@5roots.co</small>
             <div class="col-8 field">
              <%= form.label :bank_account_user_name, "Nombre del propietario de la cuenta" %>
              <%= form.text_field :bank_account_user_name, class: "form-control col-6"  %>
            </div>
          </div>
          <div class="row justify-content-md-center">
             <div class="col-4 field">
              <%= form.label :bank_account_name, "Nombre del banco" %>
              <%= form.text_field :bank_account_name, class: "form-control"  %>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-4 field">
              <%= form.label :bank_account_number, "CLABE interbancaria" %>
              <%= form.text_field :bank_account_number, class: "form-control"  %>
            </div>
          </div>
        </div>
      </div>

      <!-- Paypal -->

      <div class="collapse" id="collapseExample1">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-4 field">
              <%= form.label :paypal_account, "Cuenta paypal" %>
              <%= form.text_field :paypal_account, class: "form-control"  %>
            </div>
          </div>
        </div>
      </div>

      </div>

        <br>
      <% end %>

        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-4 field actions">
              <%= form.submit "Enviar", class: "btn btn-primary" %>
            </div>
          </div>
        </div>




  <% end %>
