<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Profesores</h1>
</div>

<br>

<div class="container">
  <%= link_to 'New Expert Profile', new_expert_profile_path, class: "float-right btn btn-primary " %>
</div>

<br><br><br>

<div class="container text-left">
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Idioma</th>
      <th>País</th>
      <th>Banco</th>
      <th>Cuenta</th>
      <th>Estatus</th>
      <th>Deuda</th>
      <th>Monto pagado</th>
      <th>Horario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expert_profiles.each do |expert_profile| %>
      <tr>
        
        <td><%= User.find_by(id: "#{expert_profile.user_id}").name %>
        <td><%= User.find_by(id: "#{expert_profile.user_id}").teach_language %>
        <td><%= User.find_by(id: "#{expert_profile.user_id}").country %>
        <td><%= expert_profile.bank_account_name %> </td>
        <td><%= expert_profile.bank_account_number %>
        <td><%= expert_profile.status_id %></td></td>
        <td><%= User.find_by(id: "#{expert_profile.user_id}").lessons.where( status_id: "Completada", payment_id: "No").sum(:time_duration_id)/60*200 + User.find_by(id: "#{expert_profile.user_id}").lessons.where( status_id: "Perdida por el estudiante", payment_id: "No").sum(:time_duration_id)/60*200 - User.find_by(id: "#{expert_profile.user_id}").lessons.where( status_id: "Perdida por el profesor", payment_id: "No").sum(:time_duration_id)/60*200 %> MXN</td>
        <td><%= User.find_by(id: "#{expert_profile.user_id}").lessons.where( status_id: "Completada", payment_id: "Si").sum(:time_duration_id)/60*200 + User.find_by(id: "#{expert_profile.user_id}").lessons.where( status_id: "Perdida por el estudiante", payment_id: "Si").sum(:time_duration_id)/60*200 - User.find_by(id: "#{expert_profile.user_id}").lessons.where( status_id: "Perdida por el profesor", payment_id: "Si").sum(:time_duration_id)/60*200 %> MXN</td>
        <td><%= User.find_by(id: "#{expert_profile.user_id}").schedule %>
        <td><%= link_to '', edit_expert_profile_path(expert_profile),class:"fa fa-edit fa-x"  %></td>
        <td><%= link_to '', expert_profile, method: :delete, data: { confirm: 'Are you sure?' }, class:"fa fa-close fa-x", style:"color:#DC3C45" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

