<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'register_form'}) do |f| %>

  <%= hidden_field_tag 'plan', params[:plan] %>

    <div class="container mt-4">
      <h4 class="mb-3"><%= t("subtitle_1_form") %> </h4>
    </div>
    <div class="card rounded d-flex p-2 bd-highlight bg-light">
      <div class="row">
        <div class="form-group col-md-4">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: t("email_title_form"),class:"form-control", placeholder:t("email_description_form") %>
          <small id="emailHelp" class="form-text text-muted"> <%= t("email_extratext_form") %> </small>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :password, t("password_title_form") %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> <%= t("password_characteres_form") %>)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",class:"form-control",placeholder:t("password_title_form") %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :password_confirmation, t("password_confirmation_title_form") %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control", id:"exampleInputPassword1", placeholder:t("password_confirmation_title_form") %>
        </div>  
      </div>

      <div class="row">
        <div class="form-group col-md-4">
          <%= f.label :name, t("name_title_form") %><br />
          <%= f.text_field :name, class:"form-control", placeholder:t("name_description_form") %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :skype, t("skype_title_form") %><br />
          <%= f.text_field :skype, class:"form-control", placeholder:t("skype_description_form") %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :phone_number, t("phonenumber_title_form") %><br />
          <%= f.text_field :phone_number, class:"form-control", placeholder:t("phonenumber_description_form") %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4">
            <%= f.label :language_id, t("language_title_form") %>
            <%= f.select(:language_id, options_for_select([[t("english"), 1], [t("spanish"), 2],[t("russian"), 3],[t("german"), 4],[t("portuguese"), 5],[t("chinese"), 6],[t("italian"), 7],[t("french"), 8]]), {}, {class: "form-control"}) %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :start_id , t("start_title_form") %>
          <%= f.select(:start_id, options_for_select([[t("start_option1_form"), 1], [t("start_option2_form"), 2],[t("start_option3_form"), 3],[t("start_option4_form"), 4]]), {}, {class: "form-control"}) %>
        </div>

        <div class="form-group col-md-4">
            <%= f.label :time_zone, t("timezone_title_form"), :class => "col-xs-3" %>
            <%= f.time_zone_select(:time_zone, nil, {}, {class: "form-control"})%>
        </div>
      </div>
    <div class="row">
        <div class="form-group col-md-4">
          <%= f.label :country , t("country_title_form") %> <br/>
          <%= f.country_select :country, ["Mexico", "United States"],options = {}, html_options = {:class => "form-control", :id => "payment_country"} %> 
        </div>

        <div class="form-group col-md-4">
          <%= f.label :city_id, t("city_title_form") %><br />
          <%= f.text_field :city_id, class:"form-control", placeholder:t("city_description_form") %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :level , t("level_title_form") %> <br/>
          <%= f.select(:level, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10]]), {}, {class: "form-control mt"}) %> 
           <small id="levelHelp" class="form-text text-muted"> <%= t("level_extratext_form") %> </small>
        </div>

        <div class="col-md-4">
          <%= f.label :birth_date, t("birthday_title_form") %>
          <%= f.date_select :birth_date, 
                       { 
                        :order => [:day, :month, :year],
                        :start_year => 1920, 
                        :end_year => Time.now.year
                       }, 
                       {:class => "form-control mt-2"}  %>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <h4 class="mb-3"> <%= t("subtitle_2_form") %> </h4>
    </div>
    <div class="card rounded d-flex p-2 bd-highlight bg-light">
      <div class="row">
        <div class="form-gropu col-md-12">
          <%= f.label :reason_id, t("reason_title_form") %><br />
          <%= f.text_area :reason_id, class:"form-control", rows:"3", placeholder: t("reason_description_form") %>
        </div>

        <div class="form-gropu col-md-12">
          <%= f.label :experience, t("experience_title_form") %><br />
          <%= f.text_area :experience, class:"form-control",rows:"3", placeholder: t("experience_description_form")%>
        </div>

        <div class="form-gropu col-md-12">
          <%= f.label :schedule, t("schedule_title_form") %><br />
          <%= f.text_area :schedule, class:"form-control",rows:"3", placeholder: t("schedule_description_form") %>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <h4 class="mb-3"><%= t("subtitle_4_form") %></h4>
    </div>
    <div class="card rounded d-flex p-2 bd-highlight bg-light">
      <div class="row">
        <div class="form-group col-md-6 mt-4">
          <%= label_tag :card_number, t("credit_cardnumber_form") %>
          <%= text_field_tag :card_number, nil , name: nil, class: "form-control" %>
        </div>

        <div class="form-group col-md-6 mt-4">
          <%= label_tag :card_code, t("cvc_card_form") %>
          <%= text_field_tag :card_code, nil , name: nil, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6 mt-2">
          <%= label_tag :card_month, t("card_expiration_form") %>
          <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
        </div>

        <span class="card-body form-group col-md-6 mt-2">
          <p>
            <b><%= t("totaltext_card_form") %></b> <%= t("amount_card_basic_form") %> <br/>
            <b><%= t("notetext_card_form") %></b> <%= t("note_card_regular_1_form") %> <%=link_to t("note_card_regular_2_form"),"https://stripe.com/", target: :_blank %>.<br/> <i class="fa fa-cc-stripe" aria-hidden="true" style="color:blue;"></i> <i class="fa fa-cc-visa" aria-hidden="true" style="color:##F7F7F7;"></i> <i class="fa fa-cc-mastercard" aria-hidden="true" style="color:#E45931;"></i> <i class="fa fa-cc-amex" aria-hidden="true" style="color:#156CC9;"></i>
          </p>
        </span>
        <div class="actions col-md-6">
          <%= f.submit t("signup_and_pay_button_form"), class:"btn btn-primary", id: "form-signup-btn" %>
        </div>
      
<% end %>



