<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'medium_form'}) do |f| %>
  <%= hidden_field_tag 'plan', params[:plan] %>

    <div class="container mt-4">
      <h4 class="mb-3">Information</h4>
    </div>
    <div class="card rounded d-flex p-2 bd-highlight bg-light">
      <div class="row">
        <div class="form-group col-md-4">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control", placeholder:"Write your e-mail" %>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",class:"form-control",placeholder:"Password" %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control", id:"exampleInputPassword1", placeholder:"Password confirmation" %>
        </div>  
      </div>

      <div class="row">
        <div class="form-group col-md-4">
          <%= f.label :name %><br />
          <%= f.text_field :name, class:"form-control", placeholder:"Write your name" %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :skype %><br />
          <%= f.text_field :skype, class:"form-control", placeholder:"Write your skype id" %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :phone_number %><br />
          <%= f.text_field :phone_number, class:"form-control", placeholder:"Write your Whatsapp" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4">
            <%= f.label :language_id, "Select your language" %>
            <%= f.select :language_id, options_for_select(Language.options, params[:language]),{}, required: true, class: "form-control" %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :start_id , "Select when you would like to start" %>
          <%= f.select(:start_id, options_for_select([['Today', 1], ['In a few days', 2]]), {}, {class: "form-control"}) %>
        </div>

        <div class="form-group col-md-4">
            <%= f.label :time_zone, 'Time Zone:', :class => "col-xs-3" %>
            <%= f.time_zone_select(:time_zone, nil, {}, {class: "form-control"})%>
        </div>
      </div>
    <div class="row">
        <div class="form-group col-md-6">
          <%= f.label :level , "Select your level" %> <br/>
          <%= f.select(:level, options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5], ['6', 6], ['7', 7], ['8', 8], ['9', 9], ['10', 10]]), {}, {class: "form-control mt-2"}) %> 
        </div>
        <div class="col-md-6">
          <%= f.label :birth_date, "Select your birthday" %>
          <%= f.date_select :birth_date, 
                       { 
                        :order => [:day, :month, :year],
                        :start_year => 1920, 
                        :end_year => Time.now.year
                       }, 
                       {:class => "form-control mt-2"}  %>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <h4 class="mb-3">Extra Information</h4>
    </div>
    <div class="card rounded d-flex p-2 bd-highlight mt-4 bg-light">
      <div class="row">
        <div class="form-gropu col-md-12">
          <%= f.label :reason_id %><br />
          <%= f.text_field :reason_id, class:"form-control", placeholder:"Why do you want to learn the language?"%>
        </div>

        <div class="form-gropu col-md-12">
          <%= f.label :experience %><br />
          <%= f.text_field :experience, class:"form-control", placeholder:"Tell us about your experience"%>
        </div>

        <div class="form-gropu col-md-12">
          <%= f.label :schedule %><br />
          <%= f.text_field :schedule, class:"form-control", placeholder:"Select your schedule"%>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <h4 class="mb-3">References?</h4>
    </div>
    <div class="container mt-4 bg-light rounded">
      <div class="row">
       <div class="form-group col-md-6">
          <%= f.label :reference %><br />
          <%= f.text_field :reference, class:"form-control", placeholder:"Who told you about us"%>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :promo_code %><br />
          <%= f.text_field :promo_code, class:"form-control", placeholder:"Do you have a promo code?"%>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <h4 class="mb-3">Payment</h4>
    </div>
    <div class="container mt-4 bg-light">
      <div class="row">
        <div class="form-group col-md-6 mt-4">
          <%= label_tag :card_number, "Credit Card Number" %>
          <%= text_field_tag :card_number, nil , name: nil, class: "form-control" %>
        </div>

        <div class="form-group col-md-6 mt-4">
          <%= label_tag :card_code, "CVV" %>
          <%= text_field_tag :card_code, nil , name: nil, class: "form-control" %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-6 mt-2">
          <%= label_tag :card_month, "Card Expiration" %>
          <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
          <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
        </div>

      <span class="form-group col-md-6 mt-2">
        <p>
          <b>Total to pay:</b> 2080 MXN <br/>
          <b>Note:</b> All payments are processed by <%=link_to "stripe","https://stripe.com/", target: :_blank %>.<br/><i class="fa fa-cc-stripe" aria-hidden="true" style="color:blue;"></i> <i class="fa fa-cc-visa" aria-hidden="true" style="color:##F7F7F7;"></i> <i class="fa fa-cc-mastercard" aria-hidden="true" style="color:#E45931;"></i> <i class="fa fa-cc-amex" aria-hidden="true" style="color:#156CC9;"></i>
        </p>
      </span>

      </div>
    </div>

    <div class="d-flex p-2 bd-highlight mt-4">
      <div class="row">
        <div class="actions col-md-">
          <%= f.submit "Sign up", class:"btn btn-primary", id: "form-signup-btn-medium" %>
        </div>
      </div>
    </div>
<% end %>