
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'teacher_form'}) do |f| %>

  <%= hidden_field_tag 'plan', params[:plan] %>
  
  <%= f.hidden_field :roles, value: "teacher" %>
  <%= f.hidden_field :language_id, value: "nil" %>

    <div class="container mt-4">
      <h4 class="mb-3"><%= t("subtitle_1_form_teacher") %></h4>
    </div>
    <div class="card rounded d-flex p-2 bd-highlight bg-light">
      <div class="row">
        <div class="form-group col-md-4">
          <%= f.label :email %>*<br />
          <%= f.email_field :email, autofocus: true, autocomplete: t("email_title_form"),class:"form-control", placeholder:t("email_description_form") %>
          <small id="emailHelp" class="form-text text-muted"> <%= t("email_extratext_form") %> </small>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :password, t("password_title_form") %>*
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> <%= t("password_characteres_form") %>)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",class:"form-control",placeholder:t("password_title_form") %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :password_confirmation, t("password_confirmation_title_form") %>*<br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control", id:"exampleInputPassword1", placeholder:t("password_confirmation_title_form") %>
        </div>  
      </div>

      <div class="row">
        <div class="form-group col-md-4">
          <%= f.label :name, t("name_title_form") %>*<br />
          <%= f.text_field :name, class:"form-control", placeholder:t("name_description_form") %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :skype, t("skype_title_form") %>*<br />
          <%= f.text_field :skype, class:"form-control", placeholder:t("skype_description_form") %>
        </div>

        <div class="form-group col-md-4">
          <%= f.label :phone_number, t("phonenumber_title_form") %>*<br />
          <%= f.text_field :phone_number, class:"form-control", placeholder:t("phonenumber_description_form") %>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      <h4 class="mb-3"><%= t("subtitle_2_form_teacher") %></h4>
    </div>
    <div class="card rounded d-flex p-2 bd-highlight bg-light">
      <div class="row">
        <div class="form-group col-md-12">
          <%= f.label :teacher_description, t('description_teacher1') %>*<br />
          <%= f.text_area :teacher_description, class:"form-control", rows:"2", placeholder: t('description_teacher') %>
        </div>
        <div class="form-group col-md-4">
            <%= f.label :speak_language, t("native_language_title_teacher") %>
            <%= f.collection_select :speak_language, Language.all.order(:name),:id,:name, {}, {:class => "form-control"} %>
        </div>
        <div class="form-group col-md-4">
            <%= f.label :teach_language, t("teach_language_teacher") %>
            <%= f.collection_select :teach_language, Language.all.order(:name),:id,:name, {}, {:class => "form-control"} %>
        </div>
        <div class="form-group col-md-4">
          <%= f.label :speak_language_2, t("languages_teacher_speak") %>*<br />
          <%= f.text_field :speak_language_2, class:"form-control", placeholder: t("languages_teacher_speak1") %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <%= f.label :country , t("native_country_title_teacher") %> <br/>
          <%= f.country_select :country, ["Mexico", "United States"],options = {}, html_options = {:class => "form-control", :id => "payment_country"} %> 
        </div>
        <div class="form-group col-md-4">
          <%= f.label :city_id, t("native_city_title_teacher") %><br />
          <%= f.text_field :city_id, class:"form-control", placeholder:t("native_city_description_teacher") %>
        </div> 
        <div class="form-group col-md-4">
          <%= f.label :actual_country ,  t("current_country_title_teacher") %> <br/>
          <%= f.country_select :actual_country, ["Mexico", "United States"],options = {}, html_options = {:class => "form-control", :id => "payment_country"} %> 

        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= f.label :birth_date, t("birthday_title_form") %>
          <%= f.date_select :birth_date, 
                       { 
                        :order => [:day, :month, :year],
                        :start_year => 1920, 
                        :end_year => Time.now.year
                       }, 
                       {:class => "form-control mt-2"}  %>
        </div>
        <div class="form-group col-md-4">
          <%= f.label :university_id, t("institution_title_teacher") %><br />
          <%= f.text_field :university_id, class:"form-control", placeholder:t("institution_description_teacher") %>
        </div> 
        <div class="form-group col-md-4">
          <%= f.label :carrear_id, t("degree_title_teacher") %><br />
          <%= f.text_field :carrear_id, class:"form-control", placeholder:t("degree_description_teacher") %>
        </div>         
      </div>
    </div>

    <div class="container mt-4">
      <h4 class="mb-3"><%= t("subtitle_3_form_teacher") %></h4>
    </div>
    <div class="card rounded d-flex p-2 bd-highlight bg-light">
      <div class="row">
        <div class="form-group col-md-12">
          <%= f.label :experience_teaching, t("experience_teaching_title") %><br />
          <%= f.text_area :experience_teaching, class:"form-control", rows:"3", placeholder:t("experience_teaching_description") %>
        </div>
        <div class="form-group col-md-12">
          <%= f.label :certificate_id, t("certificates_title_teacher") %><br />
          <%= f.text_field :certificate_id, class:"form-control", placeholder:t("certificates_description_teacher") %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <%= f.label :years_teaching, t("years_teaching_title") %><br />
          <%= f.text_field :years_teaching, class:"form-control", placeholder:t("years_teaching_description") %>
        </div>
        <div class="form-group col-md-8">
          <%= f.label :institutions_teach, t("institutions_teaching_title") %><br />
          <%= f.text_field :institutions_teach, class:"form-control", placeholder:t("institutions_teaching_description") %>
        </div>
      </div>
    </div>


    <div class="container mt-4">
      <h4 class="mb-3"><%= t("subtitle_4_form_teacher") %></h4>
    </div>
    <div class="card rounded d-flex p-2 bd-highlight bg-light">
      <div class="row">
        <div class="form-group col-md-12">
          <%= f.label :type_student, t("type_title_teacher_form") %><br />
          <%= f.text_area :type_student, class:"form-control",rows:"3", placeholder:t("type_description_teacher_form") %>
        </div>
        <div class="form-group col-md-12">
          <%= f.label :schedule, t("schedule_title_teacher_form") %>*<br />
          <%= f.text_area :schedule, class:"form-control",rows:"3", placeholder: t("schedule_description_teacher_form") %>
        </div>
        <div class="form-group col-md-4">
            <%= f.label :time_zone, t("timezone_title_form"), :class => "col-xs-3" %>*
            <%= f.time_zone_select(:time_zone, nil, {default: "Mexico City"}, {class: "form-control"})%>
        </div>
      </div>
    </div>

  <div class="container mt-4">
    <div class="d-flex p-2 bd-highlight mt-4">
      <div class="row">
        <div class="actions col-md-">
          <%= f.submit t("sign_up_teacher"), class:"btn btn-primary", id: "signup-btn" %>
        </div>
      </div>
    </div>
<% end %>
