<div class="container">
	<div class="form-group">
		<% if params[:plan] == '2' %>
			<h2> Basic account sign up form </h2>
			<%= render "basic_form" %>
		<% elsif params[:plan] == '3' %>
			<h2> Medium account sign up form </h2>
			<%= render "medium_form" %>
		<% elsif params[:plan] == '4' %>
			<h2> Intensive account sign up form </h2>
			<%= render "intensive_form" %>
		<% else %>
			<h2> Free account sign up form </h2>
			<%= render "shared/register" %>
		<% end %> <br/>
		<%= render "devise/shared/links" %>
	</div>
</div>

		

