<div class="container mt-5">
	<div class="form-group">
		<% if params[:plan] == '5' %>
			<h2> Basic account sign up form </h2>
			<%= render "basic_form" %>
		<% elsif params[:plan] == '6' %>
			<h2> Medium account sign up form </h2>
			<%= render "medium_form" %>
		<% elsif params[:plan] == '7' %>
			<h2> Intensive account sign up form </h2>
			<%= render "intensive_form" %>
		<% elsif params[:plan] == '8' %>
			<h2> Intensive account sign up form </h2>
			<%= render "free_form" %>
		<% else %>
			<h2> Apply as teacher with 5 roots</h2>
			<%= render "teacher_form" %>
		<% end %> <br/>
		<%= render "devise/shared/links" %>
	</div>
</div>

		

