<p>Hola <b><%= @student.name %></b> bienvenido a la comunidad de 5roots!</p>

<p>Queremos aprovechar para darte una buena noticia, ya tenemos listo a tu profesor! y te dejamos una breve información de él para que lo conozcas previo a tu clase:</p>

<h3><b style="color:blue;">Información del profesor</b></h3>
<b><%= t('name') %>:</b> <%= @teacher.name %><br/>
<b>Descripción:</b> <%= @teacher.teacher_description %><br/>
<b>Whatsapp:</b> <%= @teacher.phone_number %><br/>
<b>E-mail:</b> <%= @teacher.email %><br/>
<b>Skype:</b> <%= @teacher.skype %><br/>

<p> El profesor se pondrá en contacto contigo cuanto antes para que se pongan de acuerdo para agendar la primer clase, si no te contacta pronto por favor escríbele directamente.</p>

<p><b>Esperamos que tengas una experiencia increíble con 5roots.</b></p>

<hr>

<h3 style="color:Red;"><b>Política de cancelación o cambio de una clase</b></h3>
<p>Puedes cancelar o cambiar una clase con al menos 24 horas de anticipación, si no lo haces así y no asistes a las clase entonces la perderás. Para 5 Roots es muy importante el tiempo que el profesor dedica a preparar una clase por lo que te pedimos que si vas a hacer una cambio le avises con el tiempo debido.</p> <br/>

<h3 style="color:Red;"><b>Política de cancelación para una clase de muestra</b></h3>

<p>Una vez pactada la clase de muestra, tienes 24 horas previas a dicha clase para solicitar un cambio de horario o cancelar. En caso de infringir la política, se te hará un cargo a tu método de pago de $100 MXN.</p>