<div class="container">
	<p><strong><%= @teacher_name %></strong> <%= t('mail_cancel_lesson_of') %> <strong><%= @lesson_language %></strong> <%= t('mail_cancel_lesson_date') %> <strong><%= @lesson_date %></strong> <%= t('mail_lessons_date_timezone') %> <strong><%= @student_timezone %></strong></p>
</div>