<div class="container">
	<p> Hola <b><%= @teacher_name %></b> te recordamos que <b>mañana</b> tienes clase de <b><%= @lesson_language %></b> con <b><%= @student_name %></b>.</p>
	<p>Fecha de la clase: <strong><%= @lesson_date %></strong> <%= t('mail_lessons_date_timezone') %> <%= @teacher_timezone %></p>
	<strong><p style= "color:#317A9F;"> 5 roots </p></strong>
</div>