<div class="container">
	<p> Hola <strong><%= @student_name %></strong> te recordamos que <b>mañana</b> tienes clase de <strong><%= @lesson_language %></strong> con <strong><%= @teacher_name %></strong>.</p>
		<p>Fecha de la clase: <strong><%= @lesson_date %></strong> <%= t('mail_lessons_date_timezone') %> <%= @student_timezone %></p>
	<strong><p style= "color:#317A9F;"> 5 roots </p></strong>
</div>