<div class="container">
	<h2><%= t('mail_lessons_info_title') %></h2>

	<ul style="list-style-type:none;">
		<li><%= t('mail_lessons_teacher_name') %>: <strong><%= @teacher_name %></strong></li>
		<li><%= t('mail_lessons_date') %>: <strong><%= @lesson_date %></strong> <%= t('mail_lessons_date_timezone') %> <%= @student_timezone %></li> 
		<li><%= t('mail_lessons_duration') %>: <strong><%= @lesson_duration %>Hrs</strong></li>
		<li><%= t('mail_lessons_lesson_of') %>: <strong><%= @lesson_language %></strong></li>
	</ul>
</div>

<div class="container">
	<strong style= "color:red"><%= t('mail_lessons_note') %>: </strong> <%= t('mail_lessons_note_1') %> <a href="https://www.5roots.co/lessons"><%= t('mail_lessons_note_2') %></a>

</div>