<div class="container">
	<h2>Información de la clase</h2>

	<ul style="list-style-type:none;">
		<li>Nombre del estudiante: <strong><%= @student_name %></strong></li>
		<li>Fecha de la clase: <strong><%= @lesson_date %></strong> en la zona horaria <%= @teacher_timezone %></li>
		<li>Duración de la clase: <strong><%= @lesson_duration %>Hrs</strong></li>
		<li>Clase de: <strong><%= @lesson_language %></strong></li>
	</ul>
</div>