<div class="container">
	<h2><%= t('mail_lessons_info_title') %></h2>

	<ul style="list-style-type:none;">
		<li><%= t('mail_lessons_student_name') %>: <strong><%= @student_name %></strong></li>
		<li><%= t('mail_lessons_date') %>: <strong><%= @lesson_date %></strong> <%= t('mail_lessons_date_timezone') %> <%= @teacher_timezone %></li>
		<li><%= t('mail_lessons_duration') %>: <strong><%= @lesson_duration %>Hrs</strong></li>
		<li><%= t('mail_lessons_lesson_of') %>: <strong><%= @lesson_language %></strong></li>
	</ul>
</div>