<p id="notice"><%= notice %></p>

<div class="container">
  <h1><%= t('languages') %></h1><br/>
  <p>Total: <%= Language.count %></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t('name') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @languages.each do |language| %>
        <tr>
          <th scope="col"><%= link_to language.name, language, class:"font-weight-normal"  %></th>
          <% if logged_in?(:admin) %>
            <th><%= link_to '', edit_language_path(language), class:"fa fa-edit fa-x" %></th>
            <th><%= link_to '', language, method: :delete, data: { confirm: 'Are you sure?' }, class:"fa fa-close fa-x",style:"color:#DC3C45" %></th>
          <% end %>  
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
<% if logged_in?(:admin) %>
  <%= link_to t('new_language_btn'), new_language_path, class:"btn btn-primary" %>
<% end %>
</div>
