<p id="notice"><%= notice %></p>

<section class="jumbotron text-center">
  <div class="container">
      <h1 class="featurette-heading" style="background-color:rgba(235,236,241,0.7);"><%= t('learn')%> <%= @language.name.downcase %> <span style="color:#55A747"><%= t('slogan_2')%></span></h1>
      <p>
        <!--= link_to t('button_free_class'), new_user_registration_path(plan: @free_plan.id), class:'btn btn-primary my-2' %> -->
        <%= link_to t('button_register'), new_user_registration_path(plan: @free_plan.id), class:'btn btn-primary my-2' %>
      </p>
    </div>
</section><br/><br/><br/>

  <div>
    <%= render "pages/languages_section" %>
  </div>

  <hr class="featurette-divider" id="howitworks">

  <div>
    <%= render "pages/howitworks" %>
  </div>

  <div>
    <%= render "pages/benefits" %>
  </div>

  <hr class="featurette-divider" >

  <div>
    <%= render "pages/reviews" %>
  </div>
  
  <hr class="featurette-divider" id="pricing">

  <div >
    <%= render "shared/pricing" %>
    <%=link_to t('back_to_top'),"#", class:"nav-link btn float-right" %><br/>
  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  <script src="../../assets/js/vendor/holder.min.js"></script>

  <!-- /END THE FEATURETTES -->

  <!-- /.container -->


  <!-- /END THE FEATURETTES -->

<!-- /.container -->