<p id="notice"><%= notice %></p>

<div class="container text-center">
	<div class="btn-group" role="group" aria-label="Basic example">
		<a class="btn btn-primary" data-toggle="collapse" href="#all_list" role="button" aria-expanded="true" aria-controls="all_list">
	    	Users
		</a>
		<a class="btn btn-primary" data-toggle="collapse" href="#teachers_list" role="button" aria-expanded="false" aria-controls="teachers_list">
			Teachers
		</a>
    	<a class="btn btn-primary" data-toggle="collapse" href="#students_list" role="button" aria-expanded="false" aria-controls="students_list">
	    	Students
		</a>
	</div>
</div>


 <div id="all_list">
	<%= render 'all_list' %>
	<div class="container">
		<div class="pagination">
			<%= will_paginate @users, renderer: @renderer %>
		</div>
	</div>
</div>

 <div id="teachers_list">
	<%= render 'teachers_list' %>
</div>

 <div id="students_list">
	<%= render 'students_list' %>
</div>


