	<div class= "container ">
		<h1 class="text-center display-3 col 8"> <%= @user.name %> </h1><br/>
	</div>


	<div class="container">
		<div class="row justify-content-md-center">
			<div class="p-3 mb-2 bg-light text-dark col-8 rounded">
				<div>
					<span class="align-middle"><p class="font-weight-light"><i class="fa fa-skype fa-x" style="color:#63C1F3;" ></i>&nbsp;&nbsp;&nbsp; <b>Skype id:</b> <%= @user.skype %></p></span>
				</div>
			</div>
		</div>
		<div class="row justify-content-md-center ">
			<div class="p-3 mb-2 bg-light text-dark col-8 rounded">
				<div>
					<span class="align-middle"><p class="font-weight-light"><i class="fa fa-location-arrow fa-x" style="color:#63C1F3;" ></i>&nbsp;&nbsp;&nbsp;<b>Vive en </b> <%= @user.city_id %></p></span>
				</div>
				<div>
					<span class="align-middle"><p class="font-weight-light"><i class="fa fa-birthday-cake fa-x" style="color:#63C1F3;" ></i>&nbsp;&nbsp;&nbsp;<b> Tiene </b> <%= @user.age %> years old</p></span>
				</div>
			</div>	
			<div class="p-3 mb-2 bg-light text-dark col-8 rounded">
				<div>
					<span class="align-middle"><p class="font-weight-light"><i class="fa fa-language fa-x" style="color:#63C1F3;" ></i>&nbsp;&nbsp;&nbsp; <b>Esta aprendiendo: </b> <%= @user.language_id %></p></span> 
				</div>

				<div>
					<span class="align-middle"><p class="font-weight-light"><i class="fa fa-clock-o fa-x" style="color:#63C1F3;" ></i>&nbsp;&nbsp;&nbsp; <b>Zona horaria: </b> <%= @user.time_zone %></p></span> 
				</div>
			</div>
		</div>
		<div class="row justify-content-md-center ">
			<div class="p-3 mb-2 bg-light text-dark col-8 rounded">
				<div>
					<span class="align-middle"><p class="font-weight-light"><i class="fa fa-battery fa-x" style="color:#63C1F3;" ></i>&nbsp;&nbsp;&nbsp; <b>Nivel del usuario: </b><%= @user.level %> <br/><small>Escala de 0 a 10 siendo 10 el máximo.</small> </p></span> 
				</div>

				<div>
					<span class="align-middle"><p class="font-weight-light"><i class="fa fa-calendar fa-x" style="color:#63C1F3;" ></i>&nbsp;&nbsp;&nbsp; <b>¿Por qué quiero aprender <%= @user.language_id %>?</b> <%= @user.reason_id %></p></span>
				</div>
				<div>
					<span class="align-middle"><p class="font-weight-light"><i class="fa fa-calendar fa-x" style="color:#63C1F3;" ></i>&nbsp;&nbsp;&nbsp; <b>Experiencia previa de aprendizaje: </b> <%= @user.experience %></p></span>  
				</div>
				<div>
					<span class="align-middle"><p class="font-weight-light"><i class="fa fa-calendar fa-x" style="color:#63C1F3;" ></i>&nbsp;&nbsp;&nbsp; <b>Horario preferido para tomar las clases: </b> <%= @user.schedule %></p></span> 
				</div>
			</div>
		</div>
	</div>

<!--<div class="container">
	<div class="p-3 mb-2 bg-light text-dark">
	    <%= @user.plan_id %>
	    <%= @user.country %>
	    <%= @user.actual_country %>
	    <%= @user.teach_language %>
	    <%= @user.speak_language %>
	    <%= @user.carrear_id %>
	    <%= @user.university_id %>
	    <%= @user.experience_teaching %>
	    <%= @user.institutions_teach %>
	    <%= @user.certificate_id %>
	    <%= @user.type_student %>
	    <%= @user.years_teaching %>
	</div>
</div> -->




