	
	<% if @user.role == :teacher %>

		<div class= "container ">
			<div class="text-center">
				<h1 class="display-3 col 8"> <%= @user.name %> </h1>
				<h5> <%= t('teacher_role') %> </h5>
			</div>
		</div><br/>	

		<%= render 'teacher_profile' %>

	<% elsif @user.role == :user %>

		<div class= "container ">
			<div class="text-center">
				<h1 class="display-3 col 8"> <%= @user.name %> </h1>
				<h5> <%= t('student_role') %> </h5>
			</div>
		</div><br/>

		<%= render 'student_profile' %>


	<% elsif @user.role == :admin %>

		<div class= "container ">
			<div class="text-center">
				<h1 class="display-3 col 8"> <%= @user.name %> </h1>
			</div>
		</div><br/>

		<%= render 'student_profile' %>

	<% end %>





