

<nav class="navbar navbar-expand-lg navbar-light bg-white text-dark fixed-top">
	<%= link_to root_path, class: "navbar-brand" do %>
		<%= image_tag("2.png", :alt => "rss feed", size: "100x60") %>
	<% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if current_user.is_a?(GuestUser) %>
      
        <li class="nav-item active mr-2">
            <%=link_to t('apply_as_teacher'), new_user_registration_path(plan: 1), class: "btn btn-outline-success my-2 my-sm-0" %>
        </li>
        <li class="nav-item active mr-2">
            <%=link_to t('pricing'),root_path + "#pricing", class:"nav-link" %>  
        </li>
        <li class="nav-item active mr-2">
            <%=link_to t('how_it_works'),root_path + "#howitworks", class:"nav-link" %>
        </li>
        <li class="nav-item active mr-2">
            <%=link_to t('faq'), faq_path, class: "nav-link" %></li>
        <li class="nav-item active mr-2">
            <%=link_to t('login'), new_user_session_path, class: "nav-link" %></li>
        <li><%= link_to flag_icon(:mx, id: 'flag-icon', class: 'strong'),root_path(locale: :es),class: "nav-link"%></li>
        <li class= "nav-link" > | </li>
        <li><%= link_to flag_icon(:us, id: 'flag-icon', class: 'strong'),root_path(locale: :en), class: "nav-link" %></li>

      <% else %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <%= current_user.first_name.capitalize %>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <% if logged_in?(:teacher) %>
              <%= link_to t('edit_profile'), edit_user_registration_path(current_user), class: "dropdown-item" %> 
            <div class="dropdown-divider"></div>
              <%= link_to t('logout'), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          <% else %>
              <%= link_to t('my_profile'), current_user, class: "dropdown-item" %>
              <%= link_to t('edit_profile'), edit_user_registration_path(current_user), class: "dropdown-item" %> 
              <%= link_to t('my_membership'), edit_membership_path , class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
              <%= link_to t('logout'), destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          <% end %>
          </li>

          <li><%= link_to flag_icon(:mx, id: 'flag-icon', class: 'strong'),root_path(locale: :es),class: "nav-link"%></li>
          <li class= "nav-link" > | </li>
          <li><%= link_to flag_icon(:us, id: 'flag-icon', class: 'strong'),root_path(locale: :en), class: "nav-link" %></li>

      <%  end %> 
    </ul>
  </div>
</nav>  
