<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4"><b><%= t('pricing') %></b></h1>
  <p class="lead"><b style="color:#AD8C47;"><%= t('pricing_subtitle_1') %></b> <%= t('pricing_subtitle_2') %><br/><%= t('pricing_subtitle_3') %> </p><br/>
  <%= link_to t('button_free_class'), new_user_registration_path(plan: @free_plan.id), class:'btn btn-outline-info' %>
</div><br/>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"><%= t('basic_membership_title') %></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"><%= t('basic_membership_price') %> <small class="text-muted"><%= t('month') %></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><%= t('basic_membership_description') %></li>
        </ul>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"><%= t('medium_membership_title') %></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"><%= t('medium_membership_price') %> <small class="text-muted"><%= t('month') %></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li><%= t('medium_membership_description') %></li>
        </ul>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"><%= t('intensive_membership_title') %></h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title"><%= t('intensive_membership_price') %> <small class="text-muted"><%= t('month') %></small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li> <%= t('intensive_membership_description') %></li>
        </ul>
      </div>
    </div>
  </div>
<div class="container">
  <h3> <%= t('information') %></h3><br/>

  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-body" id="headingOne">
        <h2 class="mb-0">
          <button style="color:#5A5A5A;" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collaspseOne">
            <%= t('pricing_question_1') %>
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <%= t('pricing_answer_1') %>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body" id="headingTwo">
        <h2 class="mb-0">
          <button style="color:#5A5A5A;" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <%= t('pricing_question_2') %>
          </button>
        </h2>
      </div>

      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <%= t('pricing_answer_2') %>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body" id="headingThree">
        <h2 class="mb-0">
          <button style="color:#5A5A5A;" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collaspseThree">
            <%= t('pricing_question_3') %>
          </button>
        </h2>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
          <%= t('pricing_answer_3') %>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body" id="headingFour">
        <h2 class="mb-0">
          <button style="color:#5A5A5A;" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <%= t('pricing_question_4') %>
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
        <div class="card-body">
         <%= t('pricing_answer_4') %>
        </div>
      </div>
    </div>
      <div class="card">
        <div class="card-body" id="headingFive">
          <h2 class="mb-0">
            <button style="color:#5A5A5A;" class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              <%= t('pricing_question_5') %>
            </button>
          </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
          <div class="card-body">
           <%= t('pricing_answer_5') %>
          </div>
        </div>
      </div>
    </div>
  </div><br/>