  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">
<div class="mr-5 ml-5">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"><%= t('benefits_title_1_a') %> <span class="text-muted"><%= t('benefits_title_1_b') %></span></h2>
      <p class="lead"><%= t('benefits_description_1') %></p>
    </div>
    <div class="col-md-5">
       <%= image_tag "native_people.jpg", width: "100%", alt: "image2", class: "rounded" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading"><%= t('benefits_title_2_a' ) %> <span class="text-muted"> <%= t('benefits_title_2_b') %></span></h2>
      <p class="lead"><%= t('benefits_description_2') %>
      </p>
    </div>
    <div class="col-md-5 order-md-1">
     <%= image_tag "learn_bed2.jpg", width: "100%", alt: "image2", class: "rounded float-right" %>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading"><%= t('benefits_title_3_a') %><span class="text-muted"><%= t('benefits_title_3_b') %></span></h2>
      <p class="lead"><%= t('benefits_description_3') %></p>
    </div>
    <div class="col-md-5">
      <%= image_tag "online_learning1.jpg", width: "100%", alt: "image2", class: "rounded" %>
    </div>
  </div>
</div>