<div class="container mt-auto">
	<div class="pl-2">
		<h1 style="color:#55A747;"> <%= t('faq') %> </h1><br/>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
	   <b style="color:#347DA0;"><%= t('faq_question_1') %></b>
	  </a>
	</p><hr>
	<div class="collapse show" id="collapseExample">
	  <div class="card card-body">
	    <%= t('faq_answer_1') %>
	  </div><br/>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
	  	<b style="color:#347DA0;"><%= t('faq_question_2') %></b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample1">
	  <div class="card card-body">
	    <%= t('faq_answer_2') %>
	  </div><br/>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
	   <b style="color:#347DA0;"> <%= t('faq_question_3') %></b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample2">
	  <div class="card card-body">
	  	<%= t('faq_answer_3') %>
	  </div>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
	    <b style="color:#347DA0;"><%= t('faq_question_4') %></b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample3">
	  <div class="card card-body">
	 	<%= t('faq_answer_4') %>
	  </div>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
	    <b style="color:#347DA0;"><%= t('faq_question_5') %></b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample4">
	  <div class="card card-body">
	    <%= t('faq_answer_5') %>
	  </div>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample5" role="button" aria-expanded="false" aria-controls="collapseExample5">
	    <b style="color:#347DA0;"><%= t('faq_question_6') %></b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample5">
	  <div class="card card-body">
	    <%= t('faq_answer_6') %>
	  </div>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample6" role="button" aria-expanded="false" aria-controls="collapseExample6">
	    <b style="color:#347DA0;"><%= t('faq_question_7') %></b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample6">
	  <div class="card card-body">
	    <%= t('faq_answer_7') %>
	  </div>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample7" role="button" aria-expanded="false" aria-controls="collapseExample7">
	    <b style="color:#347DA0;"><%= t('faq_question_8') %></b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample7">
	  <div class="card card-body">
	    <%= t('faq_answer_8') %>
	  </div>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample8" role="button" aria-expanded="false" aria-controls="collapseExample8">
	    <b style="color:#347DA0;"><%= t('faq_question_9') %></b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample8">
	  <div class="card card-body">
	    <%= t('faq_answer_9') %>
	  </div>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample9" role="button" aria-expanded="false" aria-controls="collapseExample9">
	    <b style="color:#347DA0;"><%= t('faq_question_10') %></b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample9">
	  <div class="card card-body">
	    <%= t('faq_answer_10') %>
	  </div>
	</div>

	<p>
	  <a style="color:#5A5A5A;" class="btn" data-toggle="collapse" href="#collapseExample10" role="button" aria-expanded="false" aria-controls="collapseExample10">
	    <b style="color:#347DA0;"><%= t('faq_question_11') %></b>
	  </a>
	</p><hr>
	<div class="collapse" id="collapseExample10">
	  <div class="card card-body">
	    <%= t('faq_answer_11') %>
	  </div>
	</div>
</div>
