<div class="container">
  <h1> <%= t('title_memberships') %> </h1> </br>
</div>

<div class="container">
	<div class="row">
	  <div class="col-4">
	    <div class="list-group" id="=list-tab" role="tablist">
	    <% if current_user.plan_id == 9 %>
  	      <a class="list-group-item list-group-item-action" id="list-promo-list" data-toggle="list" href="#list-promo" role="tab" aria-controls="promo"><%= t('amount_card_promo_form') %></a>
      	<% end %>
	      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"><%= t('amount_card_basic_form') %> </a>
	      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile"><%= t('amount_card_medium_form') %></a>
	      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages"><%= t('amount_card_intensive_form') %></a>

	    </div>
	  </div>
	  <div class="col-8">
	    <div class="tab-content" id="nav-tabContent">
      		<div class="tab-pane fade show active" id="list-home" role="tabpan<el" aria-labelledby="list-home-list">
      			<p><b><%= t('basic_m_title') %></b> <%= t('basic_m_description') %></p>
	      		<%= link_to t('btn_subscribe'), new_membership_path(plan: "5"), class:"btn btn-success" %>	
      		</div>
		    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
		    	<p><b><%= t('medium_m_title') %></b> <%= t('medium_m_description') %></p>
		    	<%= link_to t('btn_subscribe'), new_membership_path(plan: "6"), class:"btn btn-success" %>
		    </div>
	    	<div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
	    		<p><b><%= t('intensive_m_title') %></b> <%= t('intensive_m_description') %></p>
	    		<%= link_to t('btn_subscribe'), new_membership_path(plan: "7"), class:"btn btn-success" %>
	    	</div>
	    	<div class="tab-pane fade" id="list-promo" role="tabpanel" aria-labelledby="list-promo-list">
	    		<p><b><%= t('promo_m_title') %></b> <%= t('promo_m_description') %></p>
	    		<%= link_to t('btn_subscribe'), new_membership_path(plan: "8"), class:"btn btn-success" %>
	    	</div>
	    </div>
	  </div>
	</div>
	<br>
	<br>
	<p><%= t('extra_subscription') %></p>
</div>