<% if current_user.subscribed? %>

	<% if current_user.expires_at? %>

		<div class="container">
			<%=link_to t('subscribe_again'), memberships_path, class:"btn btn-warning btn-lg btn-block" %>
		</div><br/>

		<%= render "faq" %>

	<% else %>

	<%= render "faq" %>

	<% end %>

<% else %>

	<div class="container">
		<%=link_to t('choose_membership'), memberships_path, class:"btn btn-warning btn-lg btn-block" %>
	</div><br/>

	<%= render "students_home_template" %> <br/>


<% end %>
