<div class="container text-center">
	<div>
		<h1 style="color:#317A9F;"><%= t("welcome") %> <%= current_user.name.titleize %></h1>
	</div>
	<div>
		<h3><%= t("teachers_hompage_title") %></h3><hr>
	</div>
</div>
<div class="container card-body text-center">
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><%= t("teacher_button1_homepage") %></a>
  <button class="btn btn-success" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2"><%= t("teacher_button2_homepage") %></button>
</p>
</div>

<div class="container card-body">
	<div class="row">
		<div>
		    <div class="collapse multi-collapse" id="multiCollapseExample1">
		    	<div>
					<h2 class="pl-1" style="color:green;"> <%= t("teacher_applied_subtitle_homepage") %></h2><br/>
				</div>
				<div class="card-header rounded">
					<ul style="list-style-type:none" class="pl-0">
						<li>
							<b><%= t("step_1") %></b> <%= t("step_1a_teacher_applied_homepage") %>
						</li><br/>
						<li>
							<b><%= t("step_2") %></b> <%= t("step_2a_teacher_applied_homepage") %>
						</li><br/>
						<li>
							<b><%= t("step_3") %></b> <%= t("step_3a_teacher_applied_homepage") %>
						</li><br/>
						<li>
							<b><%= t("step_4") %></b> <%= t("step_4a_teacher_applied_homepage") %>
						</li><br/>
					</ul>
					<p><b style="color:red;"><%= t("note_teacher_homepage") %></b> <%= t("note1_teacher_homepage") %>
					</p>
				</div>
			</div>
		</div><br/>
		<div>
		    <div class="collapse multi-collapse" id="multiCollapseExample2">
			    <div>
					<h2 class="pl-1" style="color:green;"> <%= t("teacher_subtitle_homepage") %></h2><br/>
				</div>
				<div class="card-header rounded">
					<ul style="list-style-type:none" class="pl-0">
						<li>
							<b><%= t("step_1") %></b> <%= t("step_1a_teacher_homepage") %>
						</li><br/>
						<li>
							<b><%= t("step_2") %></b> <%= t("step_2a_teacher_homepage") %>
						</li><br/>
						<li>
							<b><%= t("step_3") %></b> <%= t("step_3a_teacher_homepage") %>
						</li><br/>
						<li>
							<b><%= t("step_4") %></b> <%= t("step_4a_teacher_homepage") %>
						</li><br/>
						<li>
							<b><%= t("step_5") %></b> <%= t("step_5a_teacher_homepage") %>
						</li><br/>
						<li>
							<b><%= t("step_6") %></b> <%= t("step_6a_teacher_homepage") %> 
						</li><br/>
					</ul>
					<p><b style="color:red;"><%= t("note_teacher_homepage") %></b> <%= t("note1_teacher_homepage") %>
					</p>
				</div>
		  	</div>
		</div>
	</div>
</div>
