<div class="p-3 mb-2 bg-light text-dark text-center">
  <%= t('lesson_next_title') %>: <strong> <%= @clases_proximas_profesores %></strong> &nbsp
  <%= t('lesson_completed_title') %>: <strong> <%= @clases_completadas_profesores %></strong>&nbsp
  <%= t('lessons_hours_title') %>: <strong> <%= @horas_completadas_profesores %> </strong> hrs
</div>
<div class="p-3 mb-2 bg-light text-dark text-center">
  <%= t('incoming_money_teachers') %>: <a href="#" data-toggle="tooltip" title="<%= t('incoming_money_teachers_tooltip') %>"><%= @monto_por_recibir_profesores %></a> MXN &nbsp
  <%= t('total_money_earned_teacher') %>: <a href="#" data-toggle="tooltip" title="<%= t('total_money_earned_teacher_tooltip') %>"> <%= @monto_total_ganado_profesores %> </a></MXN> MXN &nbsp
</div>
<div class="p-3 mb-2 bg-light text-dark text-center">
  <p><strong><%= t('lessons_cancelation_policy_title') %></strong></p>
  <%= t('lessons_won_teachers') %>: <a href="#" data-toggle="tooltip" title="<%= t('lessons_won_teachers_tooltip') %>"><%= @clases_ganadas_profesores %> </a> / <%= t('money_won_teacher') %>: <a href="#" data-toggle="tooltip" title="<%= t('money_won_teacher_tooltip') %>"><%= @monto_ganado_profesores %> MXN </a> &nbsp &nbsp
  <%= t('lessons_lost_teachers') %>: <a href="#" data-toggle="tooltip" title="<%= t('lessons_lost_teachers_tooltip') %>"><%= @clases_perdidas_profesores %> </a> / <%= t('money_lost_teacher') %>: <a href="#" data-toggle="tooltip" title="<%= t('money_lost_teacher_tooltip') %>"><%= @monto_perdido_profesores %> MXN </a> &nbsp &nbsp
</div>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip(); 
});
</script>