<div class="p-3 mb-2 bg-light text-dark text-center">
  Clases próximas: <strong><%= @clases_proximas_estudiantes %></strong>  &nbsp &nbsp  &nbsp
  Clases completadas: <strong><%= @clases_completadas_estudiantes %></strong> &nbsp &nbsp &nbsp
  Horas completadas: <strong><%= @horas_completadas_estudiantes %></strong> hrs
</div>

<div class="p-3 mb-2 bg-light text-dark text-center">
  <p><strong>Política de cancelación</strong></p>
  Créditos ganados: <strong><%= @clases_ganadas_estudiantes %> </strong> &nbsp &nbsp
  Créditos perdidos: <strong><%= @clases_perdidas_estudiantes %> </strong> &nbsp &nbsp
</div>     