<div class="container">
  <%= render 'lessons/panel_lessons/panel_admin' %>
  <br>

  <%= link_to t('new_class'), new_lesson_path, class: "btn btn-primary float-right" %>
  <h1><%= t('lessons_title') %></h1>
  
</div>

<br>
  <div class="container">
    <%= form_for lessons_path, :method => 'get' do %>
      <div class="row">
        <div class="form_group col-4">
           <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Filtra por el ID del profesor" %>
        </div>
        <div class="form_group col-1">
          <%= submit_tag "Search", :name => nil , class: "btn btn-primary" %>
      </div>
      <br>
    <% end %>
  </div>
<br>

<div class="table-responsive-sm">
  <table class="table text-center">
    <thead>
      <tr>
        <th>Teachers Time Zone</th>
        <th><%= sortable "id", t('class_id') %></th>
        <th><%= sortable "created_at", t('createad_date') %></th>
        <th><%= sortable "class_type_id", t('type_of_class') %></th>
        <th><%= sortable "student_id", t('student_name_class')  %></th>
        <th><%= sortable "user_id", t('teacher_name_class')  %></th>
        <th><%= sortable "date_id", t('incoming_date_class') %> <a href="#" data-toggle="tooltip" class="fa fa-info-circle fa-x" title="Las horas se muestran en la zona horaria local." ></a></th>
        <th><%= sortable "time_duration_id", t('class_duration') %></th>
        <th><%= sortable "language_id", t('class_language') %></th>
        <th><%= sortable "status_id", t('status_class')%></th>
        <th><%= sortable "payment_id", t('paid_class') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    
    <tbody id="filterTable">
      <% @lessons.each do |lesson| %>
        <tr>
          <td><%=  User.find_by(id: "#{lesson.user_id}").time_zone %></td>
          <td><%= link_to lesson.id, lesson %></td>
          <td><%= local_time(lesson.created_at) %></td>
          <td><%= lesson.class_type_id %></td>
          <td><%= link_to User.find_by(id: "#{lesson.student_id}").name.titleize, "users/#{lesson.student_id}" %></td>
          <td><%= link_to User.find_by(id: "#{lesson.user_id}").name.titleize, "users/#{lesson.user_id}" %></td>
          <td><%= local_time(lesson.date_id) %></td>
          <td><%= lesson.time_duration_id/60 %><p> <%= t('hours') %> </p></td>
          <td> <%= Language.find_by(id: "#{lesson.language_id}").name %></td>
          <td><%= lesson.status_id %></td>
          <td><%= lesson.payment_id %></td>
          <td><%= link_to '', edit_lesson_path(lesson), class:"fa fa-edit fa-x" %></td>
          <td><%= link_to '', lesson, method: :delete, data: { confirm: t('delete_message') },class:"fa fa-close fa-x", style:"color:#DC3C45" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<script src="assets/javascripts/filer_table.js"></script>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip(); 
});
</script>   





