
<span><%= link_to t('new_class'), new_lesson_path, class: "btn btn-primary float-right" %></span>
<h1><%= t('lessons_title') %></h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th><%= t('class_id') %></th>
      <th><%= t('createad_date') %></th>
      <th><%= t('type_of_class') %></th>
      <th><%= t('student_name_class') %></th>
      <th><%= t('teacher_name_class') %></th>
      <th><%= t('incoming_date_class') %></th>
      <th><%= t('class_duration') %></th>
      <th><%= t('class_language') %></th>
      <th><%= t('status_class') %></th>
      <th><%= t('paid_class') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= link_to lesson.id, lesson %></td>
        <td><%= lesson.created_at.to_formatted_s(:long) %></td>
        <td><%= lesson.class_type_id %></td>
        <td> <%= link_to User.find_by(id: "#{lesson.student_id}").name, "users/#{lesson.student_id}" %></td>
        <td> <%= link_to User.find_by(id: "#{lesson.user_id}").name, "users/#{lesson.user_id}" %></td>
        <td><%= lesson.date_id.to_formatted_s(:long) %></td>
        <td><%= lesson.time_duration_id/60 %><p> <%= t('hours') %> </p></td>
        <td> <%= Language.find_by(id: "#{lesson.language_id}").name %></td>
        <td><%= lesson.status_id %></td>
        <td><%= lesson.payment_id %></td>
        <td><%= link_to '', edit_lesson_path(lesson), class:"fa fa-edit fa-x" %></td>
        <td><%= link_to '', lesson, method: :delete, data: { confirm: t('delete_message') },class:"fa fa-close fa-x", style:"color:#DC3C45" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<hr>
<p>Total: <%= Lesson.sum(:time_duration_id)/60 %> Horas</p>
<p>Total de clases: <%= Lesson.count(:time_duration_id) %> </p>
<p>Total de clases próximas: <%= Lesson.where( status_id: "Próxima").count(:time_duration_id) %> </p>
<p>Total de clases completadas: <%= Lesson.where( status_id: "Completada").count(:time_duration_id) %> </p>
<p>Dinero en deuda: <%= Lesson.where( status_id: "Completada").sum(:time_duration_id)/60*200 %> MXN </p>
<p>Dinero pagado: <%= Lesson.where( payment_id: "Si").sum(:time_duration_id)/60*200 %> MXN </p>
