<div class="container">
  <%= render 'lessons/panel_lessons/panel_admin' %>
  <br>

  <%= link_to t('new_class'), new_lesson_path, class: "btn btn-primary float-right" %>
  <h1><%= t('lessons_title') %></h1>
  
</div>

<br>

<div class="container">
  <input class="form-control" id="myInput" type="text" placeholder="Filtra..">
</div>

<br>

<div class="table-responsive-sm">
  <table class="table text-center">
    <thead>
      <tr>
        <th>Teachers Time Zone</th>
        <th><%= t('class_id') %></th>
        <th><%= t('createad_date') %></th>
        <th><%= t('type_of_class') %></th>
        <th><%= t('student_name_class') %></th>
        <th><%= t('teacher_name_class') %></th>
        <th><%= t('incoming_date_class') %> <a href="#" data-toggle="tooltip" class="fa fa-info-circle fa-x" title="Las fechas mostradas en este panel son basadas en la zona horaria que te encuentras en este momento." ></a></th>
        <th><%= t('class_duration') %></th>
        <th><%= t('class_language') %></th>
        <th><%= t('status_class') %></th>
        <th><%= t('paid_class') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    
    <tbody id="filterTable">
      <% @lessons.each do |lesson| %>
        <tr>
          <td><%=  User.find_by(id: "#{lesson.user_id}").time_zone %></td>
          <td><%= link_to lesson.id, lesson %></td>
          <td><%= local_time(lesson.created_at) %></td>
          <td><%= lesson.class_type_id %></td>
          <td><%= link_to User.find_by(id: "#{lesson.student_id}").name, "users/#{lesson.student_id}" %></td>
          <td><%= link_to User.find_by(id: "#{lesson.user_id}").name, "users/#{lesson.user_id}" %></td>
          <td><%= local_time(lesson.date_id) %></td>
          <td><%= lesson.time_duration_id/60 %><p> <%= t('hours') %> </p></td>
          <td> <%= Language.find_by(id: "#{lesson.language_id}").name %></td>
          <td><%= lesson.status_id %></td>
          <td><%= lesson.payment_id %></td>
          <td><%= link_to '', edit_lesson_path(lesson), class:"fa fa-edit fa-x" %></td>
          <td><%= link_to '', lesson, method: :delete, data: { confirm: t('delete_message') },class:"fa fa-close fa-x", style:"color:#DC3C45" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<script src="assets/javascripts/filer_table.js"></script>

<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip(); 
});
</script>   





