
<span><%= link_to t('new_class'), new_lesson_path, class: "btn btn-primary float-right" %></span>

<div class="container">
  <h1><%= t('lessons_title') %></h1>
  <br>
  <div class="p-3 mb-2 bg-light text-dark text-center">
    Clases registradas:<strong> <%= @lessons.total_entries %></strong> &nbsp &nbsp
    Clases próximas: <strong><%= Lesson.where( status_id: "Próxima").count(:time_duration_id) %></strong> &nbsp &nbsp
    Clases completadas: <strong><%= Lesson.where( status_id: "Completada").count(:time_duration_id) %></strong> &nbsp &nbsp
    Horas completadas: <strong><%= Lesson.where( status_id: "Completada").sum(:time_duration_id)/60 %></strong> hrs &nbsp &nbsp
  </div>
  <div class="p-3 mb-2 bg-light text-dark text-center">
    Deuda a profesores:  <strong><%= Lesson.where( status_id: "Completada", payment_id: "No").sum(:time_duration_id)/60*200 + Lesson.where( status_id: "Perdida por el estudiante", payment_id: "No").sum(:time_duration_id)/60*200 %></strong> MXN &nbsp &nbsp 
    Total pagado a profesores: <strong><%= Lesson.where( status_id: "Completada", payment_id: "Si").sum(:time_duration_id)/60*200 + Lesson.where( status_id: "Perdida por el estudiante", payment_id: "Si").sum(:time_duration_id)/60*200 %> </strong> MXN &nbsp &nbsp
  </div>
  <div class="p-3 mb-2 bg-light text-dark text-center">
    <p><strong>Política de cancelación</strong></p>
    Clases perdidas por los profesores: <strong><%= Lesson.where( status_id: "Perdida por el profesor").count(:time_duration_id) %> </strong> / <strong><%= Lesson.where( status_id: "Perdida por el profesor", payment_id: "Si").sum(:time_duration_id)/60*200 %></strong> MXN &nbsp &nbsp
    Clases perdidas por estudiantes: <strong><%= Lesson.where( status_id: "Perdida por el estudiante").count(:time_duration_id) %> </strong> / <strong><%= Lesson.where( status_id: "Perdida por el estudiante", payment_id: "Si").sum(:time_duration_id)/60*200 %> </strong> MXN 
  </div>
</div>
<br>
<input class="form-control" id="myInput" type="text" placeholder="Filtra..">
<br>
<div class="table-responsive-sm">
  <table class="table">
    <thead>
      <tr>
        <th><%= t('class_id') %></th>
        <th><%= t('createad_date') %></th>
        <th><%= t('type_of_class') %></th>
        <th><%= t('student_name_class') %></th>
        <th><%= t('teacher_name_class') %></th>
        <th><%= t('incoming_date_class') %></th>
        <th><%= t('class_duration') %></th>
        <th><%= t('class_language') %></th>
        <th><%= t('status_class') %></th>
        <th><%= t('paid_class') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>
    
    <tbody id="filterTable">
      <% @lessons.each do |lesson| %>
        <tr>
          <td><%= link_to lesson.id, lesson %></td>
          <td><%= lesson.created_at.to_formatted_s(:long) %></td>
          <td><%= lesson.class_type_id %></td>
          <td> <%= link_to User.find_by(id: "#{lesson.student_id}").name, "users/#{lesson.student_id}" %></td>
          <td> <%= link_to User.find_by(id: "#{lesson.user_id}").name, "users/#{lesson.user_id}" %></td>
          <td><%= lesson.date_id.to_formatted_s(:long) %></td>
          <td><%= lesson.time_duration_id/60 %><p> <%= t('hours') %> </p></td>
          <td> <%= Language.find_by(id: "#{lesson.language_id}").name %></td>
          <td><%= lesson.status_id %></td>
          <td><%= lesson.payment_id %></td>
          <td><%= link_to '', edit_lesson_path(lesson), class:"fa fa-edit fa-x" %></td>
          <td><%= link_to '', lesson, method: :delete, data: { confirm: t('delete_message') },class:"fa fa-close fa-x", style:"color:#DC3C45" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<script src="assets/javascripts/filer_table.js"></script>





