<div class="container">
  <%= form_with(model: lesson, local: true ) do |form| %>
    <% if lesson.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

        <ul>
        <% lesson.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :user_id, value: @user.id %>
    <%= form.hidden_field :status_id, value: "Próxima" %>
    <%= form.hidden_field :payment_id, value: "No" %>
<div class="form-group">
      <div class="form-group col-md-4">
        <%= form.label :class_type_id, t('type_of_class') %>
        <%= form.select(:class_type_id, options_for_select([["Regular", "Regular",{class: "bold"}], ["Clase de prueba", "Clase de prueba"]]), {}, {class: "form-control"}) %>
      </div>

    <% if logged_in?(:admin) %>
      <div class="field">
        <%= form.label :user_id, t('teacher') %>
        <%= form.collection_select :user_id, User.where(roles:"teacher").order(:name),:id,:name, include_blank: true %>
      </div>
    <% end %>

      <div class="field">
        <%= form.label :student_id, t('student') %>

      <% if logged_in?(:teacher) %>

        <%= form.collection_select :student_id, @user.students.order(:name),:id,:name, include_blank: true %>
    
      <% elsif logged_in?(:admin) %>

        <%= form.collection_select :student_id, User.where(roles:"user").order(:name),:id,:name, include_blank: true %>

      <% end %>

      </div>

      <div class="field">
        <%= form.label :language_id, t('class_language') %>
        <%= form.collection_select :language_id, Language.all.order(:name),:id,:name %>
      </div>
      <div class="field">
        <%= form.label :time_duration_id, t('class_duration') %>
        <%= form.select(:time_duration_id, options_for_select([["30 min", "30"], ["45 min", "45"],["1 hora", "60"],["1 hora 15 min" ,"75"],["1 hora 30 min" , "90"],["1 hora 45 min" ,"105"], ["2 horas" ,"120"], ["2 horas 15 min", "135"],["2 horas 30 min","150"],["2 horas 45 min" , "165"],["3 horas","180"]]),{required: 'true', autofocus: 'true', class: 'form-control'}) %>
      </div>

      <div class="field">
        <%= form.label :date_id %>
        <%= form.datetime_select :date_id, :ampm => true, :minute_step => 15 %>
      </div>

      <br>

      <div class="actions">
        <%= form.submit "Crear clase", class:"btn btn-primary" %>
      </div><br>
    </div>
  <% end %>
</div>
