<div class="p-3 mb-2 bg-light text-dark text-center">
  Clases próximas: <strong> <%= @clases_proximas_profesores %></strong> &nbsp
  Clases completadas: <strong> <%= @clases_completadas_profesores %></strong>&nbsp
  Horas completadas: <strong> <%= @horas_completadas_profesores %> </strong> hrs
</div>
<div class="p-3 mb-2 bg-light text-dark text-center">
  Dinero por recibir: <strong> <%= @monto_por_recibir_profesores %> </strong> MXN &nbsp
  Dinero total ganado: <strong> <%= @monto_total_ganado_profesores %> </strong></MXN> MXN &nbsp
</div>
<div class="p-3 mb-2 bg-light text-dark text-center">
  <p><strong>Política de cancelación</strong></p>
  Clases ganadas: <strong><%= @clases_ganadas_profesores %> </strong> / Dinero ganado: <strong><%= @monto_ganado_profesores %> MXN </strong> &nbsp &nbsp
  Clases perdidas: <strong><%= @clases_perdidas_profesores %> </strong> / Dinero perdido: <strong><%= @monto_perdido_profesores %> MXN </strong> &nbsp &nbsp
</div>
