<h1>Classes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Tipo de clase</th>
      <th>Profesor</th>
      <th>Fecha</th>
      <th>Duración</th>
      <th>Idioma</th>
      <th>Estatus</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% for user in @user.inverse_lessons %>
      <tr>
        <td><%= user.class_type_id %></td>
        <td> <%= User.find_by(id: "#{user.user_id}").name %></td>
        <td><%= user.date_id.to_formatted_s(:long) %></td>
        <td><%= user.time_duration_id/60 %><p>Horas</p></td>
        <td> <%= Language.find_by(id: "#{user.language_id}").name %></td>
        <td><%= user.status_id %></td>
        <!--<td>%= link_to 'Reportar', lesson, class: "btn btn-outline-warning" %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

