<h1>Classes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Tipo de clase</th>
      <th>Estudiante</th>
      <th>Fecha</th>
      <th>Duración</th>
      <th>Idioma</th>
      <th>Estatus</th>
      <th>Pago al profesor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.class_type_id %></td>
        <td> <%= User.find_by(id: "#{lesson.student_id}").name %></td>
        <td><%= lesson.date_id %></td>
        <td><%= lesson.time_duration_id/60 %><p>Horas</p></td>
        <td> <%= Language.find_by(id: "#{lesson.language_id}").name %></td>
        <td><%= lesson.status_id %></td>
        <td><%= lesson.payment_id %></td>
        <td><%= link_to 'Show', lesson %></td>
        <td><%= link_to 'Edit', edit_lesson_path(lesson) %></td>
        <td><%= link_to 'Destroy', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<hr>
<p>Total: <%= Lesson.sum(:time_duration_id)/60 %> Horas</p>
<p>Total de clases: <%= Lesson.count(:time_duration_id) %> </p>
<p>Total de clases próximas: <%= Lesson.where( status_id: "Próxima").count(:time_duration_id) %> </p>
<p>Total de clases completadas: <%= Lesson.where( status_id: "Completada").count(:time_duration_id) %> </p>
<p>Dinero en deuda: <%= Lesson.where( status_id: "Completada").sum(:time_duration_id)/60*200 %> MXN </p>
<p>Dinero pagado: <%= Lesson.where( payment_id: "Si").sum(:time_duration_id)/60*200 %> MXN </p>

<%= link_to 'New Lesson', new_lesson_path, class: "btn btn-primary" %>