
  <% if current_user.students.ids.empty? %>
    <div class="container">
      <h2 class= "p-3 mb-2 bg-light text-dark"><%= t('no_students_message') %></h2>
    </div>

    <br>
  
  <% else %>

    <div class="container">
      <%= render 'lessons/panel_lessons/panel_teachers' %>
      <br>
      <%= link_to t('new_class'), new_lesson_path, class: "btn btn-primary float-right" %>

  <% end %>
      <h1><%= t('lessons_title') %></h1>
    </div>

    <br>

    <div class="container">
      <input class="form-control" id="myInput" type="text" placeholder="Filtra..">
    </div>

    <br>

    <div class="container">
      <div class="table-responsive-sm">
        <table class="table">
          <thead>
            <tr>
              <th><%= t('type_of_class') %></th>
              <th><%= t('student_name_class') %></th>
              <th><%= t('incoming_date_class') %> <a href="#" data-toggle="tooltip" class="fa fa-info-circle fa-x" title="Las fechas mostradas en este panel son basadas en la zona horaria que te encuentras en este momento." ></a></th>
              <th><%= t('class_duration') %></th>
              <th><%= t('class_language') %></th>
              <th><%= t('status_class') %></th>
              <th><%= t('paid_class') %></th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody id="filterTable">
            <% for user in @lessons_teachers %>
              <tr>
                <td><%= link_to user.class_type_id, user %></td>
                <td><%= link_to User.find_by(id: "#{user.student_id}").name, "users/#{user.student_id}" %></td>          
                <td><%= local_time(user.date_id) %></td>
                <td><%= user.time_duration_id/60 %><p> <%= t('hours') %> </p></td>
                <td> <%= Language.find_by(id: "#{user.language_id}").name %></td>
                <td><%= user.status_id %></td>
                <td><%= user.payment_id %></td>
              <% if user.payment_id == "No" %>
                <td><%= link_to '', edit_lesson_path(user),class:"fa fa-edit fa-x" %></td>
                <td><%= link_to '', user, method: :delete, data: { confirm: t('delete_message') }, class:"fa fa-close fa-x",style:"color:#DC3C45" %></td>
              <% else %>
                <td><%= mail_to "hello@5roots.co", t('report_class'), subject: t('report_subject') + " #{user.id} ", body: t('report_body_1_teacher') + " #{User.find_by(id: "#{user.user_id}").name}" + t('report_body_2') + " #{user.id} " + t('report_body_3'), class: "btn btn-outline-danger" %></td>
              <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <script src="assets/javascripts/filer_table.js"></script>

