
<span><%= link_to 'New Lesson', new_lesson_path, class: "btn btn-primary float-right" %></span>
<h1>Classes</h1><br>
  <table class="table">
    <thead>
      <tr>
        <th>Tipo de clase</th>
        <th>Estudiante</th>
        <th>Fecha</th>
        <th>Duración</th>
        <th>Idioma</th>
        <th>Estatus</th>
        <th>Pago al profesor</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% for user in @user.lessons %>
        <tr>
          <td><%= user.class_type_id %></td>
          <td> <%= User.find_by(id: "#{user.student_id}").name %></td>
          <td><%= user.date_id.to_formatted_s(:long) %></td>
          <td><%= user.time_duration_id/60 %><p>Horas</p></td>
          <td> <%= Language.find_by(id: "#{user.language_id}").name %></td>
          <td><%= user.status_id %></td>
          <td><%= user.payment_id %></td>
          <td><%= link_to 'Show', user %></td>
          <td><%= link_to 'Edit', edit_lesson_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<br>
