
  <% if current_user.students.ids.empty? %>
    <div class="container">
      <h2 class= "p-3 mb-2 bg-light text-dark"><%= t('no_students_message') %></h2>
      <br>
      <p class="text-center"><%= t('just_applied_as_teacher_message') %></p>
    </div>


    <br>
  
  <% else %>

    <div class="container">
      <%= render 'lessons/panel_lessons/panel_teachers' %>
      <br>
      <%= link_to t('new_class'), new_lesson_path, class: "btn btn-primary float-right" %>

  <% end %>
      <h1><%= t('lessons_title') %></h1>
    </div>

    <br>

    <div class="container">
      <%= form_tag lessons_path, :method => 'get' do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
        <div class="row">
          <div class="form_group col-4">
             <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Filtra por el ID del estudiante" %>
          </div>
          <div class="form_group col-1">
            <%= submit_tag "Search", :name => nil , class: "btn btn-primary" %>
        </div>
        <br>
      <% end %>
    </div>
    <br> 

    <div class="container">
      <div class="row text-center">
        <div class="col-6"><%= t('lessons_cancelation_policy_title') %> <a href="#" data-toggle="tooltip" class="fa fa-info-circle fa-x" title="<%= t('cancel_lesson_tooltip_teacher') %>"></a></div>
        <div class="col-6"><%= t('update_lesson_tooltip_title_teacher') %> <a href="#" data-toggle="tooltip" class="fa fa-info-circle fa-x" title="<%= t('update_lesson_tooltip_description_teacher') %>"></a></div>
      </div>
    </div>

    <br>

    <div class="container">
      <div class="table-responsive-sm">
        <table class="table">
          <thead>
            <tr>
              <th><%= sortable "class_type_id", t('type_of_class') %></th>
              <th><%= sortable "student_id", t('student_name_class') %></th>
              <th><%= sortable "date_id", t('incoming_date_class') %> <a href="#" data-toggle="tooltip" class="fa fa-info-circle fa-x" title="<%= t('timezone_tootltip') %>" ></a></th>
              <th><%= sortable "time_duration_id", t('class_duration') %></th>
              <th><%= sortable "language_id", t('class_language') %></th>
              <th><%= sortable "status_id", t('status_class') %></th>
              <th><%= sortable "payment_id", t('paid_class') %></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody id="filterTable">
            <% for lesson in @lessons_teachers %>
              <tr>
                <td><%= link_to lesson.class_type_id, lesson %></td>
                <td><%= link_to User.find_by(id: "#{lesson.student_id}").name.titleize, "users/#{lesson.student_id}" %> <br>(Id: <%= lesson.student_id %>) </td>
                <td><%= local_time(lesson.date_id) %></td>
                <td><%= lesson.time_duration_id/60 %><p> <%= t('hours') %> </p></td>
                <td> <%= Language.find_by(id: "#{lesson.language_id}").name %></td>
                <td><%= lesson.status_id %></td>
                <td><%= lesson.payment_id %></td>
              <% if lesson.payment_id == "No" %>
                <% if lesson.status_id == "Próxima" %>
                  <td><%= link_to t('update_class_panel'), edit_lesson_path(lesson), class: "btn btn-outline-info" %></td>
                <% end %>

                <% if local_time(lesson.date_id) > local_time(Time.now + 86400)  %>
                <td><%= link_to t('cancel_lesson_btn'), lesson, method: :delete, data: { confirm: t('delete_message') }, class: "btn btn-danger" %></td>
                <% end %>
              <% else %>
              <td></td>
                <td><%= mail_to "hello@5roots.co", t('report_class'), subject: t('report_subject') + " #{lesson.id} ", body: t('report_body_1_teacher') + " #{User.find_by(id: "#{lesson.user_id}").name}" + t('report_body_2') + " #{lesson.id} " + t('report_body_3'), class: "btn btn-outline-danger" %></td>
              <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <script src="assets/javascripts/filer_table.js"></script>

