<div class="container">
<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id, t('teacher') %>
    <%= form.collection_select :user_id, User.where(roles:"teacher").order(:name),:id,:name, include_blank: true %>

  </div>

  <div class="field">
    <%= form.label :student_id, t('student') %>
    <%= form.collection_select :student_id, User.where(roles:"user").order(:name),:id,:name, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :language_id %>
    <%= form.collection_select :language_id, Language.all.order(:name),:id,:name, include_blank: true %>
  </div>


  <br/><br/>

  <div class="actions">
    <%= form.submit t('create_match'), class:"btn btn-primary" %>
  </div>
<% end %>
</div>

