<div class="container">

  <h1><%= t('my_teachers') %></h1><br/><br/>

  <table class="table">
    <thead>
      <tr>
        <th><%= t('name') %></th>
        <th>Whatsapp</th>
        <th>E-mail</th>
        <th>Skype</th>
        <th><%= t('language_teach') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% for user in @studentsmatch %>
        <tr>
          <td><%= link_to user.name, user  %></td>
          <td><%= user.phone_number %></td>
          <td><%= user.email %></td>
          <td><%= user.skype %></td>
          <td><%= user.teach_language %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
