<div class="container">

  <h1><%= t('my_students') %></h1>
    <div class="page_info">
      <p><%= t('total_students') %> <strong><%= @usersmatch.total_entries %></strong> <%= t('total_students_1') %>. </p>
    </div>
  <br/>

  <table class="table">
    <thead>
      <tr>
        <th><%= t('name') %></th>
        <th>Whatsapp</th>
        <th>E-mail</th>
        <th>Skype</th>
        <th><%= t('language_learn') %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% for user in @usersmatch %>
        <tr>
          <td><%= link_to user.name.titleize, user  %></td>
          <td><%= user.phone_number %></td>
          <td><%= user.email %></td>
          <td><%= user.skype %></td>
          <td><%= user.language_id %></td>
      <% end %>
        </tr>
    </tbody>
  </table>
</div>