  <% if current_user.role == :teacher %>

    <%= render 'list_students' %>

    <div class="container">
      <div class="pagination">
        <%= will_paginate @usersmatch, renderer: @renderer %>
      </div>
    </div>

  <% elsif current_user.role == :user %>

    <%= render 'list_teachers' %>

    <div class="container">
      <div class="pagination">
        <%= will_paginate @studentsmatch, renderer: @renderer %>
      </div>
    </div>

  <% elsif current_user.role == :admin %>

    <%= render 'list_matches' %><br/><br/>

    <div class="container">
      <div class="pagination">
        <%= will_paginate @matches, renderer: @renderer, class: "page-item" %>
      </div>
    </div>

    <div class="container">
      <hr>
    </div>
    <%= render 'list_teachers' %>

  <% end %>
