
  <%= form_with(model: crm, local: true) do |form| %>
    <% if crm.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(crm.errors.count, "error") %> prohibited this crm from being saved:</h2>

        <ul>
        <% crm.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row justify-content-md-center">
      <div class="col-4 field">
        <%= form.label :user_id, t('student') %>
        <%= form.collection_select(:user_id, User.where(roles:"user").order(:name),:id,:name, {include_blank: true}, {class: "form-control"}) %>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-4 field">
        <%= form.label :public_status, "Estatus público" %>
        <%= form.select(:public_status, options_for_select(["Activo", "Cancelado"]), {}, {class: "form-control"}) %>
      </div> 
    </div>

    <div class="row justify-content-md-center">
      <div class="col-4 field">
        <%= form.label :private_status, "Estatus privado" %>
        <%= form.select(:private_status, options_for_select([
                                                              "Bad timing",
                                                              "Contactado",
                                                              "Con profesor,aún sin primera clase",         
                                                              "Clase de prueba -> No se presentó",
                                                              "Clase de prueba", 
                                                              "Clase prueba -> No interesado", 
                                                              "Clase de prueba -> Bad timing",
                                                              "Directo",
                                                              "Esperando confirmación de clase de prueba",
                                                              "Prueba 1ra -> cancelado", 
                                                              "Prueba 2da -> cancelado",
                                                              "Prueba 3ra -> cancelado", 
                                                              "Prueba 1er Clase", 
                                                              "Prueba 2da Clase", 
                                                              "Prueba 3era Clase", 
                                                              "Prueba 4ta Clase",
                                                              "Prueba -> Alumno Activo",
                                                              "No interesado",
                                                              "Suspendido",
                                                              "Sin profesor asignado"
                                                             ]),
                                                             {include_blank: true}, 
                                                             {class: "form-control"}) %>                                                              
      </div> 
    </div>

    <div class="row justify-content-md-center">
      <div class="col-4 field">
        <%= form.label :buy_credits, "Créditos comprados" %>
        <%= form.text_field :buy_credits , class: "form-control" %>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-4 field">
        <%= form.label :free_credits, "Agregar créditos gratis" %>
        <%= form.text_field :free_credits , class: "form-control" %>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-4 field">
        <%= form.label :subscription_renewal, "# veces de renovación" %>
        <%= form.text_field :subscription_renewal, class: "form-control" %>
      </div>
    </div>

    <div class="row justify-content-md-center">
      <div class="col-4 field">
        <%= form.label :comment, "Comentarios" %>
        <%= form.text_area :comment, class: "form-control" %>
      </div>
    </div>

    <br>

    <div class="row justify-content-md-center">
      <div class="col-4 field actions">
        <%= form.submit "Enviar", class: "btn btn-primary" %>
      </div>
    </div>

  <% end %>

