<p id="notice"><%= notice %></p>

<p>
  <strong>Private status:</strong>
  <%= @crm.private_status %>
</p>

<p>
  <strong>Public status:</strong>
  <%= @crm.public_status %>
</p>


<p>
  <strong>Credits balance:</strong>
  <%= @crm.credits_balance %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @crm.comment %>
</p>

<p>
  <strong>Subscription renewal:</strong>
  <%= @crm.subscription_renewal %>
</p>

<%= link_to 'Edit', edit_crm_path(@crm) %> |
<%= link_to 'Back', crms_path %>
