
<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Nombre:</strong>
    <%= @crm.user.name %>
  </p>


    <strong>Estatus público:</strong>
    <%= @crm.public_status %>
  </p>

  <p>
  <strong>Estatus interno:</strong>
    <%= @crm.private_status %>
  </p>
  <p>

  <p>
    <strong>Créditos comprados:</strong>
    <%= @crm.buy_credits %>
  </p>

  <p>
    <strong># de veces de renovación de la suscripción:</strong>
    <%= @crm.subscription_renewal %>
  </p>

  <p>
    <strong>Comentarios:</strong>
    <%= @crm.comment %>
  </p>


  <%= link_to 'Edit', edit_crm_path(@crm) %> |
  <%= link_to 'Back', crms_path %>
</p>
