<p><%= t('mail_match_greetings_1') %> <b><%= @student.name %></b> <%= t('mail_match_greetings_2') %></p>

<p><%= t('mail_match_greetings_3') %></p>

<h3><b style="color:MediumSeaGreen;"><%= t('mail_match_teacher_info') %></b></h3>
<b><%= t('name') %>:</b> <%= @teacher.name %>, <%= t('mail_match_teacher_info_1') %> <%= link_to t('mail_match_teacher_info_2'), "https://www.5roots.co/es/users/#{@teacher.id}"%>.<br/>
<b><%= t('mail_match_teacher_info_3') %>:</b> <%= @teacher.teacher_description %><br/>
<b>Whatsapp:</b> <%= @teacher.phone_number %><br/>
<b>E-mail:</b> <%= @teacher.email %><br/>
<b>Skype:</b> <%= @teacher.skype %><br/>
<b><%= t('mail_match_teacher_info_4') %>:</b> <%= @teacher.schedule %><br/>

<hr>

<h3 style="color:Red;"><b><%= t('mail_match_cancelation_policy') %></b></h3>
<p><%= t('mail_match_cancelation_policy_1') %></p>

<h3 style="color:Red;"><b><%= t('mail_match_cancelation_policy_2') %></b></h3>

<p><%= t('mail_match_cancelation_policy_3') %></p>

<hr>

<p> <%= t('mail_match_extra_info') %></p>

<p><%= t('mail_match_extra_info_1') %> <a href> hello@5roots.co</a></p>

<p><%= t('mail_match_extra_info_2') %> <a href="https://www.5roots.co/es/faq"> <%= t('mail_match_extra_info_3') %></a> </p>

<p><strong><%= t('mail_match_extra_info_4') %></strong></p>

<p><strong><%= t('mail_match_extra_info_5') %></strong> <%= t('mail_match_extra_info_6') %></p>