<div class="container">
	<h3 style="color:MediumSeaGreen;"><b><%= t('mail_match_teacher_student_info') %></b></h3>
	<b><%= t('name') %>:</b> <%= @student.name %>, <%= t('mail_match_teacher_info_1') %> <%= link_to t('mail_match_teacher_info_2'), "https://www.5roots.co/es/users/#{@student.id}"%>. <br/>
	<b>Whatsapp:</b> <%= @student.phone_number %><br/>
	<b>E-mail:</b> <%= @student.email %><br/>
	<b>Skype:</b> <%= @student.skype %><br/>
	<b><%= t('language_learn') %>:</b> <%= @language.name %><br/>
	<b><%= t('membership_title') %> :</b>       
	<% if @student.plan_id == 5 %>
        <%= t('basic_membership_hours') %>
      <% elsif @student.plan_id == 6 %>
        <%= t('medium_membership_hours') %>
      <% elsif @student.plan_id == 7 %>
        <%= t('intensive_membership_hours') %>
      <% elsif @student.plan_id == 8 %>
        <%= t('membership_free_hours') %>
      <% end %><br/>

	<hr>

	<h4 style="color:MediumSeaGreen;"><%= t('mail_match_teacher_greetings') %></h4>
	<p><%= t('mail_match_teacher_greetings_1') %></p>

	<p><b style="color:MediumSeaGreen;"><%= t('mail_match_teacher_greetings_2') %></b></p>
	<p><%= t('mail_match_teacher_greetings_3') %> <%= @student.first_name %> <%= t('mail_match_teacher_greetings_4') %> <%= @teacher.first_name %> <%= t('mail_match_teacher_greetings_5') %> <b><%= @language.name %></b> <%= t('mail_match_teacher_greetings_6') %> <b><%= @student.schedule %></b> <%= t('mail_match_teacher_greetings_7') %> <b>	

      <% if @student.plan_id == 5 %>
        <%= t('basic_membership_hours') %>
      <% elsif @student.plan_id == 6 %>
        <%= t('medium_membership_hours') %>
      <% elsif @student.plan_id == 7 %>
        <%= t('intensive_membership_hours') %>
      <% elsif @student.plan_id == 8 %>
        <%= t('membership_free_hours') %>
      <% end %></b>
  </p>

	<p><%= t('mail_match_teacher_greetings_8') %></p>

	<hr>

	<h3 style="color:Red;"><b><%= t('mail_match_cancelation_policy') %></b></h3>
	<p><%= t('mail_match_teacher_cancelation_policy') %></p>

	<hr>

	<b><p style="color:MediumSeaGreen;"><%= t('mail_match_teacher_recomendations') %></p></b>

	<ul>
		<li><%= t('mail_match_teacher_recomendations_1') %></li>
			<ul>
				<li style="color:#3c3c3c;"><%= t('mail_match_teacher_recomendations_2') %></li>
			</ul>

		<li><%= t('mail_match_teacher_recomendations_3') %></li>
			<ul>
				<li style="color:#3c3c3c;"><%= t('mail_match_teacher_recomendations_4') %></li>
			</ul>

		<li><%= t('mail_match_teacher_recomendations_5') %></li>
			<ul>
				<li style="color:#3c3c3c;"><%= t('mail_match_teacher_recomendations_6') %></li>
				<li style="color:#3c3c3c"><%= t('mail_match_teacher_recomendations_7') %></li>
			</ul>
	</ul>


	<p><%= t('mail_match_extra_info_1') %> <a href> hello@5roots.co</a></p>
	<p><%= t('mail_match_extra_info_2') %> <a href="https://www.5roots.co/es/faq"> <%= t('mail_match_extra_info_3') %></a> </p>
	<p><strong><%= t('mail_match_extra_info_4') %></strong></p>
	<p><strong><%= t('mail_match_extra_info_5') %></strong> <%= t('mail_match_extra_info_6') %></p>

</div>